*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000000 ;;
}

.header-section-figure-container-top-background{
    width: 98.9vw;
    position: relative;
    z-index: 0;
}

.header-section-figure-container-top-personagem{
    width: 70rem;
    position: absolute;
    top: 0;
    left: 160px;
    z-index: 2;
}

.header-section-figure-container-top-left{
    width: 24rem;
    position: absolute;
    top: 375px;
    left: 300px;
    z-index: 1;
}
.header-section-figure-container-top-right{
    width: 26rem;
    position: absolute;
    z-index: 1;
    top: 375px;
    right: 137px;
}

.header-section-figure-container-top-box{
    width: 9rem;
    position: absolute;
    bottom: 16px;
    right: 180px;
}

.main-section-initial{
    /* background-color: coral; */
    position: relative;
}

.main-section-div{
    position: relative;
    width: 40rem;
    height: 30rem;
    /* background-color: brown; */
}

.main-section-initial-aside{
    position: relative;
}

.main-section-figure-container-aside{
    width: 43rem;
    position: absolute;
    top: -2px;
    
}

.main-section-initial-div-inital{
    width: 80rem;
    height: 29rem;
    position: relative;
    left: 230px;
    /* background-color: cyan; */
}

.main-section-initial-div-inital::after{
    content: '';
    width: 80rem;
    height: 0.2rem;
    display: block;
    background: black;
    margin: 5rem 0px;
}

.main-section-div-initial-figure-btn-container{
    width: 21rem;
    position:absolute;
    top: -50px;
    left: 0px;
    z-index: 3;
}

.main-section-initial-div-inital-internal{
    /* background-color: darkgoldenrod; */
    width: 79.5rem;
    height: 28rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align:right;
}

.main-section-div-initial-txt-container{
    width: 25.5rem;
    height: 13rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 1rem;
    /* background-color: rgb(43, 11, 184); */
}

.main-section-div-initial-txt-container h4{
    /* background-color: rgb(184, 11, 141); */
    width: 15rem;
    height: 5rem;
    text-transform: uppercase;
    font-size: 1.4rem ;
    /* background: darkcyan; */
}

.main-section-div-initial-txt-container h4::after{
    content:'';
    width: 7rem;
    height: 0.2rem;
    background: currentColor;
    display: block;
    margin: 20px 125px;
}

.main-section-div-initial-txt-container p{
    font-size: 1rem ;
}

.main-section-div-initial-img-container{
    width: 21.8rem;
}

.main-section-initial-div-middle{
    /* background-color: rgb(121, 11, 184); */
    width: 80rem;
    height: 45.1rem;
    position: relative;
    left: 230px;
    /* display: flex;
    align-items: flex-end;
    justify-content: center; */
}

/* .main-section-initial-div-middle figure{
    background-color: chocolate;
    width: 50rem;
    height: 53rem;
} */

.main-section-initial-div-middle figure img{
    /* background: chartreuse; */
    position: absolute;
    bottom: -20px;
}

#lord-sifh{
    position: absolute;
    height: 96%;
    left: 0;
    bottom: -60px;
    z-index: 3;
}

#jedi-rey{
    position: absolute;
    height: 85%;
    right: 40px;
    bottom: -60px;
    z-index: 3;
}

.main-section-initial-div-middle-nav-container{
    background-color: deeppink;
    width: 27rem;
    height: 35.5rem;
    text-align: right;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: 390px;
    /* usar @font-face para trazer fonts externa */
    color: #000000;
}

.main-section-initial-div-middle-nav-container h3{
    background-color: dodgerblue;
    padding: 1rem 0.75rem 1rem 3rem;
    font-size: 3.75rem;
    line-height: 3.5rem;
    font-weight: 600;
}

.main-section-initial-div-middle-nav-container ul li{
    font-size: 1.4rem;
    padding: 0.7rem;
}

.main-section-middle{
    background-color: #2D2D2D;
    height: 217vh;
    position: relative;
    z-index: 1;
}

.main-section-middle-div-intial-title-container{
    width: 29vw;
    height: 35vh;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0 3rem;
}

.main-section-middle div h3{
    font-size: 2.5vw;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

.main-section-middle-div-intial-img-container{
    display: flex;
    justify-content: center;
    /* background-color: tomato; */
}

.main-section-middle-div-initial-img-aside-container{
    width: 50vw;
    background-color: rgb(200, 71, 162);
    display: flex;
    justify-content: flex-end;
}

.main-section-middle-div-intial-img-container img{
    width: 44.5vw;
}

.main-section-middle-box-imgs-container{
    display: flex;
    flex-wrap: wrap;
    background-color: royalblue;
    width: 45vw;
}

.main-section-middle-box-imgs-container img{
    width: 20.25vw;
}

.main-section-middle-div-final-img-container{
    width: 92.5vw;
    background-color: springgreen;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-section-middle-div-final-img-container img{
    width: 85vw;
    background-color: tomato;
    padding: 7vh 0 0;
}

.main-section-middle-div-final-img-container p{
    width: 44vw;
    background-color: violet;
    font-size: 1rem;
    padding: 2vh 0 0;
    text-align: right;
}

.main-section-final{
    background-image: linear-gradient( #2D2D2D 50%, #FFFFFF 50%);
    display: flex;
}

.main-section-final-div-aside-img-container{
    background-color: darkgoldenrod;
    width: 35vw;
    height: 87.3vh;
    position: relative;
}

.main-section-final-div-aside-img-container img{
    background-color: crimson;
    width: 27.5vw;
    position: absolute;
    right: 0;
    top:0;
}

.main-section-final-txt-btns-container{
    background-color: blueviolet;
    width: 60vw;
    height: 41.3vw;
}

.main-section-final-txt-container{
    background-color: hotpink;
    height: 43.5vh;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.main-section-final-txt-container h3{
    color: #FFFFFF;
    font-size: 2.5rem;
    padding: 9rem;
}

.main-section-final-btns{
    background-color: dodgerblue;
    height: 43.5vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2.5rem 0 0;
}

.main-section-final-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-final-btn-container h3{
    font-size: 2.5rem;
    font-weight: lighter;
    height: 11vh;
    background-color: blueviolet;
}

.main-section-final-btn-container::after{
    content: "";
    background-color: #000000;
    width: 5vw;
    height: 0.5vh;
}

.main-section-final-btn-container a{
    background-color: #000000;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 14.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-final-btn-container p{
    font-size: 1rem;
    font-weight: lighter;
    background-color: crimson;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-section-final-btn-container-text{
    display: flex;
    flex-direction: column;
    width: 11vw;
    padding: 1rem;
}

.footer-section-container{
    display: flex;
}

.footer-section-div-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 120vh;
    width: 68.5vw;
    background-color: rgb(50, 204, 58);
}

.footer-section-div-container-div-initial{
    background-color: #FF5A56;
    height: 54vh;
    width: 63.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 14rem;
}

.footer-section-div-container-div-initial h3{
    font-size: 3rem;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 3rem 0 2rem ;
    /* background-color: darkgoldenrod; */
    
}

.footer-section-div-container-div-initial p{
    width: 28.8vw;
    /* background-color: coral; */
    padding: 0 1rem 0 0;
    color: #FFFFFF;
    font-weight: lighter;

}

.footer-section-div-container-div-initial img{
    /* background-color: cyan; */
    width: 14vw;
    padding: 1.5rem 0 3rem;
}

.footer-section-div-container-div-initial::after{
    content: "";
    width: 28.3vw;
    height: 0.25rem;
    background-color: #D74430;
}

.footer-section-div-container-div-final{
    background-color: #FF5A56;
    height: 42vh;
    width: 63.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 14rem;
}

.footer-section-div-container-div-final p{
    width: 28.3vw;
    /* background-color: coral; */
    padding: 0 1rem 0 0;
    color:#FFFFFF;
    font-weight: lighter;
}

.footer-section-div-container-div-final img{
    /* background-color: rgb(185, 41, 142); */
    width: 12.8vw;
    padding: 1.5rem 0;
}

.footer-section-figure-aside{
    position: relative;
    /* background-color: rgb(255, 251, 0); */
    width: 40vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-section-figure-aside img{
    position: absolute;
    top: 75px;
    left: -165px;
    width: 39vw;
}

.footer-section-figure-aside p{
    background-color: blueviolet;
    width: 20vw ;
    font-size: 0.8rem;
    position: absolute;
    bottom: 40px;
    left: 100px;
}



